.wrapper {
    width: 700px;
    text-align: left;
}

.main {
    background-color: var(--monster-background);
}

.profileName {
    margin: 10px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 600;
}

.companyName {
    margin: 10px;
    margin-top: -10px;
    font-size: 15px;
    font-weight: 600;
    color:  #6C54DA;
}

.locExpSal {
    display: flex;
    justify-content: space-between;
    margin-right: 80px;
}

.locExpSalChild {
    display: flex;

    margin: 10px;
    margin-top: -5px;
}

.locExpSalChild > div {
    margin-left: 10px;
}

.footerWrapper {
    background-color: #EBEBEB;
    display: flex;
    width: 700px;
    height: 50px;
    justify-content: space-between;
}

.left {
    margin: 10px;
}
.right {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.right > button {
    margin-left: 10px;
    border: 2px solid #6C54DA;
    width: 80px;
}

.right > button:hover {
    background-color: #6C54DA;
    color: white;
}

.cardDiv {
    margin: 10px;
}

span {
    color: rgb(160, 158, 158)
}

.description { 
    margin: 10px;
    margin-top: -10px
}

.skills {
    margin-left: 10px;
}