.wrapper {

}

.main {
    display: flex;
    justify-content: space-evenly;
}

.searchBarWrapper {
    display: flex;
    margin-top: 20px;
    background-color: #E8E8E8;
    padding:20px
}

.sidebarWrapper {
    margin-top: 20px ;
}

.midBodyWrapper {
    margin-top: 20px;
}

.addsWrapper {
    width: 200px;
    height: 700px;
    border: 1px solid black;
    margin-top: 20px;
}



.firstAdd {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 10px;
    background-color: #FFEDF5;
}

.firstAdd > img{
    width:150px;
    color: #FFEDF5;
}

.firstAdd > h1{
    font-size: 30px;
    line-height: 30px;
    margin: 10px;
}

.firstAdd > h4 {
    margin: 10px;
}

.firstAdd > button {
    width: 100px;
    height: 30px;
    background-color: var(--monster-color);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

#suggestBox  {
    overflow-y: scroll;
    max-height: 130px;
    position: absolute; 
    max-height: 130px;
    position: absolute; 
    text-align: left;
    width: 585px;
    background: white;
    margin-left: 15px;
    margin-top: 48px;
}

::-webkit-scrollbar {
    display: none;
}

#locSuggestBox  {
    overflow-y: scroll;
    max-height: 130px;
    position: absolute; 
    text-align: left;
    width: 308px;
    background: white;
    margin-left: 5;
    margin-top: 50px;
    outline: none;
    border: none;
}

#expSuggestBox {
}

.keywordOpt {
    width: 600px;
    height: 40px;
}

.expOpt {
    height: 45px;
    outline: none;
    border: none;
    margin-left: 3px;
    width: 200px
}

.locationOpt {
    height: 45px;
    margin-left: 3px;
    width: 300px;
    outline: none;
    border: none;
}

.searchBtn {
    height: 45px;
    width: 100px;    
    background-color: var(--monster-color);
    outline: none;
    border: none;
    color: white;
}